html{
  font-size: 14px;
}

.navbar-nav{
  padding-left: 2rem;
}

/*Jumbotron*/


/*Container*/
.image-container{
  background-color: lightgreen;
}

.image-container img{
  height: 12rem;
  width: auto;
}


/*Footer*/
footer{
  display: block;
  margin-top: 8rem;
  background-color: rgb(9, 38, 13);
  color: white;
  height: 15rem;
  font-style: 'Sintony';
}

footer div{
  display: flex;
  justify-content: center;
}

i{
  padding-left: 2rem;
  padding-top: 3rem;
}
