
.navbar-nav{
  padding-left: 2rem;
}

.jumbotron-bike .jumbotron{
  background-image:url("./resources/images/cow.jpg");
}

.row{
  border: 1px solid red;
}

.image-container{
  border: 1px solid red;
}
